<!-- Section Tutors 03 -->
<section id="tutors_03">
    <div class="container">
        <!-- Tutors Title -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <h2>NexCommerce</h2>
                <hr class="dotted_divider_center"/>
                <p>NexCommerce is a Ecommerce Store designed and developed by vebX </p>
            </div>
        </div>
        <!-- /.Tutors Title -->
        <!-- Tutors -->
        <div class="tutors_wrap">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="tutor_info">
                                <div class="img_wrap">
                                    <img src="images/tutors/sean-damico-right.png" width="500" height="500"
                                         class="img-responsive center-block" alt=""/>
                                </div>
                                <div class="name_tag">
                                    <h2>Fully Responsive</h2>
                                </div>
                                <div class="tutor_presentation">
                                    <p>NexCommerce is mobile responsive. </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="tutor_info">
                                <div class="img_wrap">
                                    <img src="images/tutors/andrea-michaels.png" width="500" height="500"
                                         class="img-responsive center-block" alt=""/>
                                </div>
                                <div class="name_tag">
                                    <h2>Built in cart system</h2>
                                </div>
                                <div class="tutor_presentation">
                                    <p>We have a built in cart system which tracks orders and products.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="tutor_info">
                                <div class="img_wrap">
                                    <img src="images/tutors/jessy-beals.png" width="500" height="500"
                                         class="img-responsive center-block" alt=""/>
                                </div>
                                <div class="name_tag">
                                    <h2>Payment Methods</h2>
                                </div>
                                <div class="tutor_presentation">
                                    <p>NexCommerce offers multiple payment methods.</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Tutors -->
    </div>
</section>
<!-- /.Section Tutors 03 -->

<!-- Section Webinar Info -->
<section id="webinar_info">
    <div class="container">

        <!-- Webinar Info Title -->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h2>What We Offer!</h2>
                <p class="subheading">

                </p>
            </div>
        </div>
        <!-- /.Webinar Info Title -->

        <!-- Webinar Features -->
        <div class="features_wrap">
            <div class="row">
                <div class="col-sm-4">
                    <div class="webinar_feature">
                        <h3>Built With MEAN</h3>
                        <p>We offer a product built with Angular,Node,MongoDB,Express</p>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="webinar_feature">
                        <h3>Products & Orders</h3>
                        <p>Tracking your products and orders through a admin account.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="webinar_feature">
                        <h3>Easy To Use</h3>
                        <p>We make it easy for you to install your products and market, through
                            the functionality of multiple categories. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Webinar Features -->

        <div class="cta">
            <div class="row">
                <div class="col-sm-12">
                    <span><a href="/products" class="btn btn-secondary-cta">Check it out!</a></>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /.Section Webinar Info -->

